
body {
  font-family: 'Tahoma';
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.aside-bar {
  width: 30%;
}

.content-box {
  position: relative;
  width: 70%;
  min-height: 100vh;
  max-height: 100vh;
  background: rgb(151,227,242);
  background: linear-gradient(0deg, rgba(151,227,242,1) 42%, rgba(162,186,223,1) 100%);
}



