.message-wrapper {
  display: flex;
  align-items:flex-end;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0 15px;
}
.message {
  min-width: 200px;
  width: auto;
	display: flex;
  // flex-direction: column;
  justify-content: space-between;

  padding: 10px;
	background: white;
	color: gray;
  font-size: 30px;
  box-sizing: border-box;
  font-family: "Tahoma";
  border-radius: 20px 20px 20px 0;
}
.message-text {
  width: 100%;
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
  word-break: break-all;
}
.message-author {
  font-size: 14px;
  color: rgb(147, 147, 236);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.message-date {
  font-size: 12px;
  color: rgb(149, 149, 187);
  text-align: right;
}

.papper-wrapper {
  width: auto;
  min-width: 300px;
  margin-left: 10px;
}
.messageContainer {
  display: flex;
}
.currentMessage {
  justify-content: flex-end;
}

.currentMessage .message {
  background-color:#3f50b5;
}

.currentMessage {
  .message-text,
  .message-date {
    color: white;
  }
}
.currentMessage {
  .message-author {
    color:rgb(110, 236, 188);
  }
}

