.message {
    max-width: 900px;
    background-color: gray;
    padding: 30px;
    color: white;
    font-size: 60px;
    box-sizing: border-box;
    font-family: 'Tahoma';
    border-radius: 20px;
}